/*-Universal Selector-*/
* {
	box-sizing: border-box;
}
/*=================================================================================================
General
===================================================================================================
*/

body {
	margin: 0;
	font-family: 'Advent Pro', sans-serif;
	line-height: 1.5;
}

.title {
	color: white;
	/*to change font sizes from pixel to em: px/16 */
	font-size: 1.625em;
}

.main-header {
	background-image: url('../img/lake-tahoe-images/mountains.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 850px;
	padding-top: 170px;
}

.main-header, .title {
	text-align: center;
}
.primary-content {
	padding-bottom: 95px;
	text-align: center;
}

.secondary-content {
	padding-bottom: 80px;
	padding-top: 70px;
	border-bottom: 2px solid #dfe2e6;
}

.primary-contact .secondary-content {
	margin: auto;
	padding-right: 50px;
	padding-left: 50px;
	width: 75%;
}

.t-border {
	border-top: 2px solid lightgrey;
}

ul li {
	margin-bottom: 5px;
}

.arrow {
	width: 50px;
}

img {
	width: 100%;
	margin-bottom: 20px;
}

.wildlife {
	/*1st: top/bottom, 2nd: left/right*/
	padding: 18% 24%;
	border-width: 10px 20px;
	border-top: 10px solid #ffa949;
	/*When 3 values: TOP-LEFT/RIGHT-BOTTOM*/
	margin: 105px 0 50px;
}

.callout {
	border-bottom: 3px solid;
	display: inline-block;
	font-size: 1.25em;
	margin-top: 20px;
	padding: 0 9px 3px;
}

#main-footer {
	border-bottom: solid 10px orange;
	padding-bottom: 60px;
	padding-top: 60px;
}


/*================================================================================================
Headline Elements
==================================================================================================
*/

h1 {
	font-size: 5.62em;
	font-weight: normal;
	line-height: 1.3;
	text-transform: uppercase;
}

h2 {
	font-size: 53px;
	font-weight: normal;
	/* 26px divided by 53px */
	margin-bottom: .5em;
	text-decoration: underline;
}

h3 {
	font-size: 20px;
	/* 34px divided by 20px */
	margin-bottom: 1.7em;
}

/*================================================================================================
Floated Columns
==================================================================================================
*/

.resorts .tips {
	width: 45.6%
}

.resorts {
	float: left;
}

.tips {
	float: right;
}
/*================================================================================================
Colors
==================================================================================================
*/

body {
	color: #878787;
}

.title {
	color: white;
}

.main-header {
	background-color: #ffa949;
}

.wildlife {
	color: white;
	background-color: #434a52;
}

ul li {
	color: white;
}

h1 {
	color: white;
}

h3 {
	color: #4852c;
}


/*CSS PSUEDO CLASS*/

a:link {
	color: #ffa949;
	text-decoration: none;
}

a:visited {
	color: lightblue;
}

a:hover {
	color: forestgreen;
}

a:active {
	color: coral;
}

a:focus {
	background-color: orange;
	color: white;
}